html {
	height: 100%;
	width: 100%;
}

body>nav>div>ul {
	margin-right: 20px;
}

.tabs>li>a.active {
	font-size: 20px;
	font-family: 'Audiowide', cursive;
	font-weight: bolder;
}

h5 {
	font-family: "Audiowide", serif;
	font-weight: 400;
	font-style: normal;
}

.brand-logo {
	font-size: 2.5rem !important;
	font-family: "Audiowide", sans-serif;
	font-weight: 400;
	font-style: normal;
	width: 100%;
	text-align: center;
}

.btn {
	width: 100%;
	background-color: #ee6e73 !important;
}

.adjust-list {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	gap: 7px;
}

.fixed {
	position: fixed;
	z-index: 1000;
	width: 100%;
}

/* #main {
	overflow-y: scroll;
	margin-top: 463px;
} */

.container {
	background-color: white;
}

.item-log{
	display: flex;
	gap: 10px;
	justify-content: start;
	flex-direction: row-reverse;
	align-items: center;
	border: 1px solid lightgrey;
	border-radius: 9px;
	margin-bottom: 8px !important;
	box-shadow: -1px 0px 5px lightgray;
}

.item-top{
	border-left: solid 1px lightgrey;
	border-top: solid 1px lightgrey;
	border-right: solid 1px lightgrey;
	border-radius: 6px 6px 0px 0px;
}

.item-middle{
	border-left: solid 1px lightgrey;
	border-right: solid 1px lightgrey;
}

.item-bottom{
	border-left: solid 1px lightgrey;
	border-right: solid 1px lightgrey;
	border-bottom: solid 1px lightgrey !important;
	border-radius: 0px 0px 6px 6px;
}

ul.collection{
	border: none
}